{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Watertest
        {% endblock %}
    </title>


    <!-- ================= CSS ================= -->

    <link
        href="{% static 'website/css/font-awesome.css' %}"
        rel="stylesheet"
        type="text/css"
    >

    <link
        href="https://fonts.googleapis.com"
        rel="preconnect"
    >

    <link
        href="https://fonts.gstatic.com"
        rel="preconnect"
    >

    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
        rel="stylesheet"
    >

    <link
        href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap"
        rel="stylesheet"
    >

    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"
    >

    <link
        href="{% static 'website/css/slick-theme.css' %}"
        rel="stylesheet"
        type="text/css"
    >

    <link
        href="{% static 'website/css/style.css' %}"
        rel="stylesheet"
        type="text/css"
    >

    <link
        href="{% static 'website/css/responsive.css' %}"
        rel="stylesheet"
        type="text/css"
    >


    <!-- ================= JQUERY ================= -->

    <script
        src="{% static 'website/js/jquery-1.11.3.min.js' %}">
    </script>

    <script
        src="{% static 'website/js/jquery-scrolltofixed-min.js' %}">
    </script>


    <!-- ================= STICKY NAVIGATION ================= -->

    <script>

        $(document).ready(function () {

            var stickyNavTop = $('.nav').offset().top;

            var stickyNav = function () {

                var scrollTop = $(window).scrollTop();

                if (scrollTop > stickyNavTop) {

                    $('.nav').addClass('sticky');

                } else {

                    $('.nav').removeClass('sticky');

                }

            };

            stickyNav();

            $(window).scroll(function () {

                stickyNav();

            });

        });

    </script>


    <!-- ================= TABS ================= -->

    <script>

        function openHtabs(evt, deliveryOption) {

            var i;
            var x;
            var tablinks;

            x = document.getElementsByClassName("fetab");

            for (i = 0; i < x.length; i++) {

                x[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tablink");

            for (i = 0; i < tablinks.length; i++) {

                tablinks[i].className =
                    tablinks[i].className.replace(" active", "");
            }

            document.getElementById(deliveryOption).style.display = "block";

            evt.currentTarget.className += " active";

        }

    </script>


    <!-- ================= BOOTSTRAP ================= -->

    <script
        src="{% static 'website/js/bootstrap.js' %}">
    </script>

    <script
        src="{% static 'website/js/slick.min.js' %}">
    </script>


    <!-- ================= SLIDER ================= -->

    <script>

        $(document).ready(function () {

            $('.items-4').slick({

                dots: true,
                infinite: true,
                speed: 800,
                autoplay: false,
                autoplaySpeed: 2000,
                slidesToShow: 3,
                slidesToScroll: 1,

                responsive: [

                    {
                        breakpoint: 1024,

                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },

                    {
                        breakpoint: 720,

                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },

                    {
                        breakpoint: 480,

                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }

                ]

            });


            $('.projects').slick({

                dots: true,
                infinite: true,
                speed: 800,
                autoplay: true,
                autoplaySpeed: 2000,
                slidesToShow: 4,
                slidesToScroll: 1,

                responsive: [

                    {
                        breakpoint: 1024,

                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },

                    {
                        breakpoint: 720,

                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },

                    {
                        breakpoint: 480,

                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }

                ]

            });

        });

    </script>


    <!-- ================= MOBILE CSS ================= -->

    <style>
        @media (max-width: 767px) {

            .logo img {
                max-width: 140px;
                height: auto;
            }

            .header-wrap {
                min-height: 55px;
            }

            #mainslider,
            #mainslider .carousel-inner,
            #mainslider .item {

                width: 100%;
                overflow: hidden;
            }

            #mainslider .item img {

                width: 100% !important;
                height: 180px !important;
                object-fit: cover;
            }

            .ban_caption {

                width: 90%;
                left: 5%;
                text-align: center;
            }

            .ban_caption .subtitle {

                font-size: 16px !important;
                line-height: 1.2;
                margin-bottom: 5px;
            }

            .ban_caption h2 {

                font-size: 28px !important;
                line-height: 1.05 !important;
                margin: 0;
            }

            html,
            body {

                width: 100%;
                max-width: 100%;
                overflow-x: hidden;
            }

        }


        /* ================= MOBILE CMS MENU ================= */

        @media (max-width: 767px) {

            .mobile-page-item {

                position: relative;
                display: block;
                width: 100%;
            }

            .mobile-dropdown-toggle {

                display: flex !important;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                cursor: pointer;
            }

            .mobile-dropdown-arrow {

                display: inline-block !important;
                margin-left: auto;
                font-size: 10px;
                transition: transform 0.3s ease;
            }

            .mobile-dropdown-menu {

                display: none !important;

                width: 100% !important;

                margin: 0 !important;
                padding: 0 !important;

                list-style: none !important;

                background: #ffffff !important;
            }

            .mobile-dropdown-menu li {

                display: block !important;
                width: 100% !important;

                margin: 0 !important;
                padding: 0 !important;
            }

            .mobile-dropdown-menu li a {

                display: block !important;

                width: 100% !important;

                padding: 12px 20px 12px 40px !important;

                background: #ffffff !important;

                color: #333333 !important;

                font-size: 14px !important;

                border-bottom: 1px solid #dddddd;
            }

            .mobile-page-item.mobile-open
            .mobile-dropdown-menu {

                display: block !important;
            }

            .mobile-page-item.mobile-open
            .mobile-dropdown-arrow {

                transform: rotate(180deg);
            }

        }

    </style>


    {% block extra_css %}
    {% endblock %}

</head>


<body>


<!-- ===================================================== -->
<!-- MOBILE MENU -->
<!-- ===================================================== -->

<div id="hamburgMenu">

    <input
        id="check"
        type="checkbox"
    >

    <label for="check">

        <i id="btn">

            <img
                alt="Menu"
                height="20"
                width="20"
                src="{% static 'website/images/burger-menu.svg' %}"
            >

        </i>

        <i id="cancel">

            <img
                alt="Close"
                height="20"
                width="20"
                src="{% static 'website/images/burger-close.svg' %}"
            >

        </i>

    </label>


    <div class="menuBar">


        <!-- MOBILE LOGO -->

        <div class="menuHeader">

            <div class="mobile-logo">

                <a href="{% url 'home' %}">

                    <img
                        alt="Water Test"
                        class="img-responsive"
                        src="{% static 'website/images/logo.png' %}"
                        width="240"
                    >

                </a>

            </div>

        </div>


        <!-- MOBILE NAVIGATION -->

        <div class="menuList">

            <div class="menu-header">

                <ul class="menu" id="menu-main-menu">


                    <li>

                        <a href="{% url 'home' %}">
                            Home
                        </a>

                    </li>


                    <li>

                        <a href="{% url 'laboratory_methods' %}">
                            Laboratory Methods
                        </a>

                    </li>


                    {% for page in menu_pages %}

                    <li class="mobile-page-item">


                        {% if page.children.all %}

                        <a
                            href="javascript:void(0);"
                            class="mobile-dropdown-toggle"
                        >

                            {{ page.title }}

                            <span class="mobile-dropdown-arrow">
                                ▼
                            </span>

                        </a>


                        <ul class="mobile-dropdown-menu">

                            {% for child in page.children.all %}

                            <li>

                                <a href="/{{ child.get_url_path }}">

                                    {{ child.title }}

                                </a>

                            </li>

                            {% endfor %}

                        </ul>


                        {% else %}

                        <a href="/{{ page.get_url_path }}">

                            {{ page.title }}

                        </a>

                        {% endif %}


                    </li>

                    {% endfor %}


                    <li class="apply-online">

                        <a href="#">
                            Contact
                        </a>

                    </li>


                </ul>

            </div>

        </div>

    </div>

</div>


<!-- ===================================================== -->
<!-- TOP CONTACT BAR -->
<!-- ===================================================== -->

<div class="user-tools alignright">

    <div class="wrapper">

        <ul class="toplinks">

            <li>

                <a href="#">

                    <i class="fa fa-map-pin"></i>

                    1/4 Abbott Road, Seven Hills NSW 2147

                </a>

            </li>


            <li>

                <a href="#">

                    <i class="fa fa-map-marker"></i>

                    PO Box 591, Seven Hills NSW 2147

                </a>

            </li>


            <li>

                <a href="tel:(02)-9838-8294">

                    Call

                    <i class="fa fa-phone"></i>

                    <strong>
                        (02) 9838 8294
                    </strong>

                </a>

            </li>


            <li>

                <a href="mailto:watertest@bigpond.com">

                    Email

                    <i class="fa fa-envelope-o"></i>

                    watertest@bigpond.com

                </a>

            </li>

        </ul>

    </div>

</div>


<!-- ===================================================== -->
<!-- HEADER / NAVBAR -->
<!-- ===================================================== -->

<header
    class="nav"
    id="header"
>

    <div class="wrapper">

        <div class="header-wrap">


            <!-- LOGO -->

            <div class="logo">

                <a href="{% url 'home' %}">

                    <img
                        alt="Water Test"
                        class="img-responsive"
                        src="{% static 'website/images/logo.png' %}"
                    >

                </a>

            </div>


            <!-- DESKTOP NAV -->

            <div class="head-col">

                <div id="topmenu">

                    <nav id="topnav">

                        <ul class="menu">


                            <li>

                                <a href="{% url 'home' %}">
                                    Home
                                </a>

                            </li>


                            <li>

                                <a href="{% url 'laboratory_methods' %}">
                                    Laboratory Methods
                                </a>

                            </li>


                            {% for page in menu_pages %}

                            <li
                                class="{% if page.children.all %}menu-item-has-children{% endif %}"
                            >

                                <a href="/{{ page.get_url_path }}">

                                    {{ page.title }}

                                </a>


                                {% if page.children.all %}

                                <ul class="sub-menu">

                                    {% for child in page.children.all %}

                                    <li>

                                        <a href="/{{ child.get_url_path }}">

                                            {{ child.title }}

                                        </a>

                                    </li>

                                    {% endfor %}

                                </ul>

                                {% endif %}

                            </li>

                            {% endfor %}


                            <li class="apply-online">

                                <a href="#">
                                    Contact
                                </a>

                            </li>


                        </ul>

                    </nav>

                    <div class="clear"></div>

                </div>

            </div>


            <div class="clear"></div>

        </div>

    </div>

</header>


<!-- ===================================================== -->
<!-- BANNER -->
<!-- ===================================================== -->

{% block banner %}

<!-- Default banner -->

<section
    id="page-banner"
    style="
        background-image:
        url('{% static "website/images/banner.jpg" %}');
    "
>

    <div class="wrapper">

        <div class="page-banner-content">

            {% block banner_title %}
                <h1>Watertest</h1>
            {% endblock %}

        </div>

    </div>

</section>

{% endblock %}


<!-- ===================================================== -->
<!-- MAIN CONTENT -->
<!-- ===================================================== -->

<main id="main-content">

    {% block content %}
    {% endblock %}

</main>


<!-- ===================================================== -->
<!-- FOOTER -->
<!-- ===================================================== -->

<footer id="footer">

    <div class="footer-overlay">

        <div class="wrapper">

            <div class="row">


                <!-- FOOTER LOGO -->

                <div class="box-25">

                    <div class="box-paddingS">

                        <div class="footer-logo">

                            <img
                                alt="logo"
                                class="img-responsive"
                                src="{% static 'website/images/footer-logo.png' %}"
                                width="200"
                            >

                        </div>


                        <p>

                            Professional water/soil quality testing services
                            across New South Wales.

                        </p>


                        <div class="clear"></div>

                    </div>

                </div>


                <!-- QUICK LINKS -->

                <div class="box-20">

                    <div class="box-padding">

                        <div class="box-paddingS">

                            <h4>
                                Quick Links
                            </h4>


                            <ul class="menu">

                                <li>

                                    <a href="{% url 'home' %}">
                                        Home
                                    </a>

                                </li>


                                <li>

                                    <a href="{% url 'laboratory_methods' %}">
                                        Laboratory Methods
                                    </a>

                                </li>


                                {% for page in menu_pages %}

                                <li>

                                    <a href="/{{ page.get_url_path }}">

                                        {{ page.title }}

                                    </a>


                                    {% if page.children.all %}

                                    <ul class="sub-menu">

                                        {% for child in page.children.all %}

                                        <li>

                                            <a href="/{{ child.get_url_path }}">

                                                {{ child.title }}

                                            </a>

                                        </li>

                                        {% endfor %}

                                    </ul>

                                    {% endif %}

                                </li>

                                {% endfor %}


                                <li>

                                    <a href="#">
                                        Contact Us
                                    </a>

                                </li>

                            </ul>


                            <div class="clear"></div>

                        </div>

                    </div>

                </div>


                <!-- CONTACT -->

                <div class="box-25">

                    <div class="box-padding">

                        <div class="box-paddingS">

                            <h4>
                                Contact Info
                            </h4>


                            <p>

                                <strong>
                                    Laboratory:
                                </strong>

                                1/4 Abbott Road, Seven Hills NSW 2147

                            </p>


                            <p>

                                <strong>
                                    Postal Address:
                                </strong>

                                PO Box 591, Seven Hills NSW 2147

                            </p>


                            <h5>
                                Phone: (02) 9838 8294
                            </h5>


                            <p>

                                Fax: (02) 9838 8919

                                <br>

                                Email:
                                watertest@bigpond.com

                            </p>

                        </div>

                    </div>

                </div>


                <!-- NEWSLETTER -->

                <div class="box-30">

                    <div class="box-padding">

                        <h4>
                            Stay Updated
                        </h4>


                        <p>

                            Subscribe for various updates and news
                            from watertest.net.au

                        </p>


                        <form id="newsletter-box">

                            <input
                                class="input-text"
                                name="email"
                                type="text"
                                placeholder="Enter your email address"
                            >

                            <input
                                class="input-submit"
                                type="button"
                                value="Sign Up"
                            >

                            <div class="clear"></div>

                        </form>


                        <div class="clearH"></div>


                        <div class="socialmedia">

                            <ul class="icons">


                                <li>

                                    <a
                                        class="fa fa-facebook"
                                        href="#"
                                        target="_blank"
                                        title="Facebook"
                                    >

                                        <span></span>

                                    </a>

                                </li>


                                <li>

                                    <a
                                        class="fa fa-instagram"
                                        href="#"
                                        target="_blank"
                                        title="Instagram"
                                    >

                                        <span></span>

                                    </a>

                                </li>


                                <li>

                                    <a
                                        class="fa fa-linkedin"
                                        href="#"
                                        target="_blank"
                                        title="Linkedin"
                                    >

                                        <span></span>

                                    </a>

                                </li>


                            </ul>

                        </div>

                    </div>

                </div>


                <div class="clear"></div>

            </div>

        </div>


        <!-- COPYRIGHT -->

        <div id="bar">

            <div class="wrapper">

                <div class="flex-item">

                    <div class="box-60">

                        Copyright © 2026 Rahul Rana
                        All Rights Reserved.

                    </div>


                    <div class="box-40 alignright">

                        <a class="white" href="#">
                            Terms and Conditions
                        </a>

                        &nbsp; | &nbsp;

                        <a class="white" href="#">
                            Privacy Policy
                        </a>

                    </div>


                    <div class="clear"></div>

                </div>

            </div>

        </div>

    </div>

</footer>


<!-- ===================================================== -->
<!-- MOBILE DROPDOWN JS -->
<!-- ===================================================== -->

<script>

document.addEventListener(
    "DOMContentLoaded",
    function () {

        const dropdownButtons =
            document.querySelectorAll(
                ".mobile-dropdown-toggle"
            );


        dropdownButtons.forEach(
            function (button) {

                button.addEventListener(
                    "click",
                    function (event) {

                        event.preventDefault();

                        const parent =
                            button.closest(
                                ".mobile-page-item"
                            );

                        parent.classList.toggle(
                            "mobile-open"
                        );

                    }
                );

            }
        );

    }
);

</script>


{% block extra_js %}
{% endblock %}


</body>

</html>