{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width" name="viewport" />
    <title>watertest</title>
    <link href="{% static 'website/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&amp;display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{% static 'website/css/slick-theme.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'website/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'website/css/responsive.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'website/js/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'website/js/jquery-scrolltofixed-min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // grab the initial top offset of the navigation 
            var stickyNavTop = $('.nav').offset().top;

            // our function that decides weather the navigation bar should have "fixed" css position or not.
            var stickyNav = function () {
                var scrollTop = $(window).scrollTop(); // our current vertical position from the top

                // if we've scrolled more than the navigation, change its position to fixed to stick to top,
                // otherwise change it back to relative
                if (scrollTop > stickyNavTop) {
                    $('.nav').addClass('sticky');
                } else {
                    $('.nav').removeClass('sticky');
                }
            };

            stickyNav();
            // and run it again every time you scroll
            $(window).scroll(function () {
                stickyNav();
            });
        });
    </script>
    <script type="text/javascript">

        function openHtabs(evt, deliveryOption) {
            var i, x, tablinks;
            x = document.getElementsByClassName("fetab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(deliveryOption).style.display = "block";
            evt.currentTarget.className += " active";
        }


    </script>
    <script src="{% static 'website/js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'website/js/slick.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('.items-4').slick({
                dots: true,
                infinite: true,
                speed: 800,
                autoplay: false,
                autoplaySpeed: 2000,
                slidesToShow: 3,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 720,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }

                ]
            });
        });


        $(document).ready(function () {

            $('.projects').slick({
                dots: true,
                infinite: true,
                speed: 800,
                autoplay: true,
                autoplaySpeed: 2000,
                slidesToShow: 4,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 720,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }

                ]
            });
        });	
    </script>

    <style>
        /* ================= MOBILE FIX ================= */

        @media (max-width: 767px) {

            /* Header */
            .logo img {
                max-width: 140px;
                height: auto;
            }

            .header-wrap {
                min-height: 55px;
            }

            /* Mobile menu button */
            .nav-toggle,
            .menu-toggle,
            .navbar-toggle {
                max-width: 45px;
            }

            /* Main slider */
            #headerImage,
            #mainslider,
            #mainslider .carousel-inner,
            #mainslider .item {
                width: 100%;
                overflow: hidden;
            }

            #mainslider .item img {
                width: 100% !important;
                height: 180px !important;
                object-fit: cover;
            }

            /* Slider text */
            .bancaption-overlay {
                width: 100%;
            }

            .ban_caption {
                width: 90%;
                left: 5%;
                text-align: center;
            }

            .ban_caption .subtitle {
                font-size: 16px !important;
                line-height: 1.2;
                margin-bottom: 5px;
            }

            .ban_caption h2 {
                font-size: 28px !important;
                line-height: 1.05 !important;
                margin: 0;
                word-break: normal;
            }

            /* Slider arrows */
            .carousel-control-prev,
            .carousel-control-next {
                width: 35px;
            }

            /* Prevent horizontal scrolling */
            html,
            body {
                width: 100%;
                max-width: 100%;
                overflow-x: hidden;
            }

        }
    </style>
</head>

<body>
    <div id="hamburgMenu">
        <input id="check" type="checkbox" />
        <label for="check">
            <i id="btn"><img alt="Menu" height="20" src="{% static 'website/images/burger-menu.svg' %}" width="20" />
            </i>
            <i id="cancel"><img alt="Close" height="20" src="{% static 'website/images/burger-close.svg' %}"
                    width="20" /></i>
        </label>
        <div class="menuBar">
            <div class="menuHeader">
                <div class="mobile-logo"><a href=""><img alt="Daniels McLaurin, PLLC" class="img-responsive"
                            src="{% static 'website/images/logo.png' %}" width="240" /></a>
                </div>
            </div>
            <div class="menuList">
                <div class="menu-header">
                    <ul class="menu" id="menu-main-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-31"
                            id="menu-item-31">
                            <a aria-current="page" href="#">Home</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"
                            id="menu-item-109"><a href="#">About</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-139"
                            id="menu-item-139">
                            <a href="#">Practice Areas</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138"
                                    id="menu-item-138"><a href="#">Family Law</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137"
                                    id="menu-item-137"><a href="#">Business
                                        &amp; Contracts Law</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136"
                                    id="menu-item-136"><a href="#">Real Estate
                                        Law</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"
                                    id="menu-item-135"><a href="#">Landlord-Tenant
                                        Law</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"
                                    id="menu-item-134"><a href="#">Personal
                                        Injury Law</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"
                                    id="menu-item-133"><a href="#">Criminal
                                        Defense</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"
                                    id="menu-item-132"><a href="#">Traffic
                                        Defense</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131"
                            id="menu-item-131"><a href="#">Press</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130"
                            id="menu-item-130"><a href="#">Contact</a></li>
                        <li class="apply-online menu-item menu-item-type-custom menu-item-object-custom menu-item-140"
                            id="menu-item-140">
                            <a href="#">Schedule a Consultation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="user-tools alignright">
        <div class="wrapper">
            <ul class="toplinks">
                <li><a href="#" target="_blank"><i class="fa fa-map-pin"></i> 1/4 Abbott Road, Seven Hills NSW 2147</a>
                </li>
                <li><a href="#" target="_blank"><i class="fa fa-map-marker"></i> PO Box 591, Seven Hills NSW 2147</a>
                </li>
                <li><a href="tel:(02)-9838-8294"> Call <i class="fa fa-phone"></i> <strong>(02) 9838 8294</strong></a>
                </li>
                <li><a href="mailto:watertest@bigpond.com"> Email <i class="fa fa-envelope-o"></i>
                        watertest@bigpond.com</a></li>
            </ul>
        </div>
    </div>
    <header class="nav" id="header">
        <div class="wrapper">
            <div class="header-wrap">
                <div class="logo"><img alt="" class="img-responsive" src="{% static 'website/images/logo.png' %}" />
                </div>
                <div class="head-col">
                    <div id="topmenu">
                        <nav id="topnav">
                            <ul class="menu">
                                <li class="current-menu-item"><a href="home .html">Home</a></li>
                                <li><a href="Laboratory-Methods.html">Laboratory Methods</a></li>
                                <li><a href="">Major Equipment </a></li>
                                <li><a href="">Major Projects </a></li>
                                <li><a href="">Customer Feedback</a></li>
                                <li class="apply-online"><a href="">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer id="footer">
        <div class="footer-overlay">
            <div class="wrapper">
                <div class="row">
                    <div class="box-25">
                        <div class="box-paddingS">
                            <div class="footer-logo"><img alt="logo" class="img-responsive"
                                    src="{% static 'website/images/footer-logo.png' %}" width="200" /></div>
                            <p>Professional water/soil quality testing services across New South Wales. NABL accredited
                                laboratories for comprehensive drinking water/soil analysis. Home sample pickup
                                available in select cities.</p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="box-20">
                        <div class="box-padding">
                            <div class="box-paddingS">
                                <h4>Quick Links</h4>
                                <ul class="menu">
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Laboratory Methods</a></li>
                                    <li><a href="">Major Equipment </a></li>
                                    <li><a href="">Major Projects </a></li>
                                    <li><a href="">Customer Feedback</a></li>
                                    <li><a href="">Blog</a></li>
                                    <li><a href="">Contact Us</a></li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="box-25">
                        <div class="box-padding">
                            <div class="box-paddingS">
                                <h4>Contact Info</h4>
                                <p><strong>Laboratory:</strong> 1/4 Abbott Road, Seven Hills NSW 2147</p>
                                <p><strong>Postal Address:</strong> PO Box 591, Seven Hills NSW 2147</p>
                                <h5>Phone: (02) 9838 8294</h5>
                                <p>Fax: (02) 9838 8919<br />
                                    Email: watertest@bigpond.com</p>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="box-30">
                        <div class="box-padding">
                            <h4>Stay Updated</h4>
                            <p>Subscribe for various updates and news from watertest.net.au </p>
                            <form action="" id="newsletter-box">
                                <input class="input-text" name="email"
                                    onblur="if (this.value == '') {this.value = 'Enter your email address';}"
                                    onfocus="if(this.value == 'Enter your email address') {this.value = '';}"
                                    type="text" value="Enter your email address" /> <input class="input-submit" name=""
                                    type="button" value="Sign Up" />
                                <div class="clear"></div>
                            </form>
                            <div class="clear"></div>
                            <div class="clearH"></div>
                            <div class="socialmedia">
                                <ul class="icons">
                                    <li><a class="fa fa-facebook" href="#" target="_blank"
                                            title="Facebook"><span></span></a></li>
                                    <li><a class="fa fa-instagram" href="/" target="_blank"
                                            title="Instagram"><span></span></a></li>
                                    <li><a class="fa fa-linkedin" href="/" target="_blank"
                                            title="Linkedin"><span></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="bar">
                <div class="wrapper">
                    <div class="flex-item">
                        <div class="box-60">Copyright © 2026 Rahul Rana All Rights Reserved.</div>
                        <div class="box-40 alignright"> <a class="white" href="">Terms and Conditions</a>  |   <a
                                class="white" href="">Privacy Policy</a> </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>