{% extends "website/base.html" %}


{% block title %}

    {{ page.title }} | Watertest

{% endblock %}


<!-- ===================================================== -->
<!-- PAGE BANNER TITLE -->
<!-- ===================================================== -->

{% block banner_title %}

    <h1>
        {{ page.title }}
    </h1>

{% endblock %}


<!-- ===================================================== -->
<!-- PAGE CONTENT -->
<!-- ===================================================== -->

{% block content %}

<section class="cms-page">

    <div class="wrapper">

        <div class="cms-page-content">

            {{ page.content|safe }}

        </div>

    </div>

</section>

{% endblock %}