{% extends "website/base.html" %}
{% load static %}

{% block content %}

<section id="headerImage" >
	<div class="box-100">
   <div id="mainslider" class="carousel slide" data-ride="carousel">
			
<div class="carousel-inner">
<div class="item active">
<img src="{% static 'website/images/slide-1.jpg' %}" alt="" width="100%" />
<div class="bancaption-overlay"><div class="ban_caption">
<h1 class="subtitle">Watertest</h1>
<h2>Reliable Soil & Water Chemical Analysis</h2>
</div></div></div>                    
<div class="item">
<img src="{% static 'website/images/slide-2.jpg' %}" alt="" width="100%" />
<div class="bancaption-overlay"><div class="ban_caption">
<h5 class="subtitle">Watertest</h5>
<h2>Professional Soil and Water Analysis</h2>
</div></div></div>
<div class="item">
<img src="{% static 'website/images/slide-3.jpg' %}" alt="" width="100%" />
<div class="bancaption-overlay"><div class="ban_caption">
<h5 class="subtitle">Watertest</h5>
<h2>Complete Soil & Water Analysis Solutions</h2>
</div></div></div>

</div>
   
<a class="carousel-control-prev" href="#mainslider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#mainslider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a></div> </div>
</section>
	

<section id="welcome"><div class="wrapper">
	
<div class="row">
<div class="box-50"><div class="box-padding">
<h1 class="section-title blue">SOIL AND WATER CHEMICAL TESTING SERVICES</h1>	
<p>Watertest is an independent chemical testing facility carrying out a comprehensive range of inorganic analyses on soils, waters, aggregates and biological materials. The lab is NATA accredited for the majority of testing, principally servicing clients from the environmental, manufacturing and civil engineering fields. Major items of equipment include ICP-OES, Ion Chromatograph, AAS, FIA, UV-Vis Spectrophotometer and Carbon/Nitrogen Analysers.</p>	
<p>Tests not performed by Watertest such as organic and microbiological constituents are sub-contracted out to reputable NATA accredited laboratories on request.</p>	
	<div class="clear"></div>
	
	<a href="" class="viewmore">Read More</a>
</div></div>
<div class="box-50"><div class="box-padding">
<div class="welcome-imgblock">
<div class="imgblock-inner"><img src="{% static 'website/images/welcome-img1.jpg' %}" alt="" class="img-responsive" /></div>
	<div class="imgblock-pop">
		<div class="row"><div class="imgblock-wrap">
<div class="box-50"><div class="box-padding">
	
</div></div>
<div class="box-50"><div class="box-padding">
<div class="imgblock-pop1">
	<div class="popbox-wrap">
		<div class="popbox-icon"><img src="{% static 'website/images/icon-lab.png' %}" alt="icon" width="50" /></div>
			<h3><span class="counter">20</span>+</h3>
				<p class="no-margin">Years of Experience</p>
	</div></div>
</div></div>
<div class="clear"></div>
</div>
						
<div class="clear"></div>
</div></div>
	</div>
</div></div>
<div class="clear"></div>
</div>	
	
	
</div></section>
	
	

<section id="services"><div class="service-overlay"><div class="wrapper">
<div class="wrap center white">
<h5 class="subtitle">WATERTEST</h5>	
<h3 class="section-title  uppercase">Professional Soil And Water Analysis</h3>
	<div class="clearH"></div>
	<p class="large">Watertest is an independent chemical testing facility carrying out a comprehensive range of inorganic analyses on soils, waters, aggregates and biological materials..</p>
</div>

<!--<div class="row">
<div class="box-33"><div class="box-padding">
<div class="about-box">
<div class="about-icon"><img src="{% static 'website/images/icon-sample.png' %}" alt="icon"></div>	
<h4>Collect a Sample</h4>
<p>It’s as easy as filling the sample bottle in the testing kit we send you. Cap the bottle and return it in the postage-paid package.</p>	
</div>
</div></div>
<div class="box-33"><div class="box-padding">
<div class="about-box">
<div class="about-icon"><img src="{% static 'website/images/icon-result.png' %}" alt="icon"></div>	
<h4>Get Results</h4>
<p>After the test is completed, we’ll email you an in-depth report with a full breakdown of your results.</p>	
</div>
</div></div>
<div class="box-33"><div class="box-padding">
<div class="about-box">
<div class="about-icon"><img src="{% static 'website/images/icon-consult.png' %}" alt="icon"></div>	
<h4>Consult an Expert</h4>
<p>Every test comes with a free consultation with one of our experts so you’ll know exactly how to ensure your water is pure and healthy.</p>	
</div>
</div></div>
<div class="clear"></div>
</div>-->

		<div class="clear"></div>	
	
	</div></div>
</section>
	
	<!--
<section id="recent-projects">
<div class="wrapper">
<div class="box-100 center">
<h5 class="subtitle">Our Projects</h5>
<h3 class="section-title no-margin blue">TURNAROUND TIMES</h3>
<p>Watertest generally has a 5–10 working days turnaround, depending on batch size and detection limits. Please specify if a faster turnaround is required (higher charges apply). The laboratory can comfortably handle up to 300 waters and/or 150 core samples per week for a normal range of inorganic and engineering parameters.</p>
</div>
	<div class="clearH"></div>
	
<div class="recent-projects">
<div class="projects">
<div class="single-project-item">
<a href="" class="project-img popup-gallery" style="background-image: url({% static 'website/images/equipments-1.jpg' %})">
<span class="icon"><i class="fa fa-plus"></i></span></a>
<div class="content-text">

</div></div>
<div class="single-project-item">
<a href="" class="project-img popup-gallery" style="background-image: url({% static 'website/images/equipments-2.jpg' %})">
<span class="icon"><i class="fa fa-plus"></i></span></a>
<div class="content-text">

</div></div>
<div class="single-project-item">
<a href="" class="project-img popup-gallery" style="background-image: url({% static 'website/images/equipments-3.jpg' %})">
<span class="icon"><i class="fa fa-plus"></i></span></a>
<div class="content-text">

</div></div>
<div class="single-project-item">
<a href="" class="project-img popup-gallery" style="background-image: url({% static 'website/images/equipments-4.jpg' %})">
<span class="icon"><i class="fa fa-plus"></i></span></a>
<div class="content-text">

</div></div>	
<div class="single-project-item">
<a href="" class="project-img popup-gallery" style="background-image: url({% static 'website/images/equipments-5.jpg' %})">
<span class="icon"><i class="fa fa-plus"></i></span></a>
<div class="content-text">

</div></div>
<div class="single-project-item">
<a href="" class="project-img popup-gallery" style="background-image: url({% static 'website/images/equipments-6.jpg' %})">
<span class="icon"><i class="fa fa-plus"></i></span></a>
<div class="content-text">

</div></div>
</div>
<div class="clearHH"></div>
	
	<div class="wrap center">
	<p class="large">We are at your service. Get in touch today!</p>
		<a href="" class="viewmore">Contact Us Now!</a>
	</div>
	
	</div>	</div>
</section>	-->


<section id="testimonial"><div class="testimonial-overlay">

<div class="wrapper">
<div class="wrap center"><h5 class="subtitle">Testimonials</h5>
<h3 class="section-title no-margin">What Our Clients Say About Us</h3>
	</div>

	<div class="clearH"></div>
	
	
<div class="items-4">

<div class="single-item">
<div class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
<blockquote>Thank you VERY much for the quick turnaround on these results. We sent a sample to another lab a month ago and STILL have no report. I am very happy we had another sample taken and sent to you. Thank you again!</blockquote>
<div class="customer-details"><div class="client-name"><strong>Wade Warren</strong></div></div>
</div>
	
<div class="single-item">
<div class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
<blockquote>The report was extremely thorough and enlightening. We found extremely high levels of arsenic and TDS that have helped us take some protective measures for our home water.</blockquote>
<div class="customer-details"><div class="client-name"><strong>Marvin McKinney</strong></div></div>
</div>
	
<div class="single-item">
<div class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
<blockquote>I found their testing kit online and it was quite simple to use. I filled the sample, booked a pickup, and their team came home on time to collect it. Very convenient. I definitely recommend them</blockquote>
<div class="customer-details"><div class="client-name"><strong>Joanne M.</strong></div></div>
</div>

	
<div class="single-item">
<div class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
<blockquote>I recently tried WaterTest and honestly, I liked the whole experience. Ordering the kit online was simple, and sending the sample was easy as well. The report came pretty fast, and the whole process felt smooth and hassle-free.</blockquote>
<div class="customer-details"><div class="client-name"><strong>Marel Jins</strong></div></div>
</div>

</div>

<div class="clearHH"></div>
	
	<div class="wrap center">  <p class="large">Want to experience the same quality of analysis? Get in touch today.</p></div>
</div></div>
</section>
	
<section id="about" class="center"><div class="wrapper">
	<div class="box-100 center">
	<h5 class="subtitle">Why Choose Us</h5>
		<h2 class="section-title blue">QUALITY CONTROL/QUALITY ASSURANCE (QA/QC)</h2>
	
	
	<p>The laboratory carries out extensive documented QA/QC procedures as set out in ANZECC Guidelines for Laboratory Testing of Environmental Soils and APHA “Standard Methods for the Examination of Water and Wastewater” (Latest Edition). Both standards set out definitions of bias, lower limits of detection (MDL), precision, accuracy, completeness and comparability; along with correct procedures for standard reagent preparations, instrument calibrations, data reduction validation and reporting, and corrective actions where required. The laboratory’s QA/QC program has been fully approved by the National Association of Testing Authorities (NATA). Further details on any or all of these procedures can be supplied on request.</p></div>
	<div class="H"></div>
	
</div></section>

<section id="bottombox">
<div class="bottom-wrap">
  <div class="wrapper">
<div class="row">

<div class="box-50"><div class="box-paddingS"><div class="box-paddingR">
<div class="contact-form-home">
	<h5 class="subtitle">Get in Touch</h5>
	<h3 class="white">Schedule Your Water/Soil Test</h3>
	<p>Fill the form below or Call (02) 9838 8294 to Schedule Your Water/Soil Test</p>
		 <form id="contact-form" action=" " method="post">
     <div class="contact-form-wrapper">
<div class="row">
<div class="box-50"><div class="box-paddingS">
<input type="text" name="full_name" value="Full Name*" onblur="if(this.value=='') this.value='Full Name*'" onfocus="if(this.value =='Full Name*' ) this.value=''" class="inputbox">
</div></div>
<div class="box-50"><div class="box-paddingS">
<input type="email" name="email" value="Email Address*" onblur="if(this.value=='') this.value='Email Address*'" onfocus="if(this.value =='Email Address*' ) this.value=''" class="inputbox">
</div></div>	
<div class="clear"></div>	
<div class="box-50"><div class="box-paddingS">
<input type="phone" name="phone" value="Phone Number*" onblur="if(this.value=='') this.value='Phone Number*'" onfocus="if(this.value =='Phone Number*' ) this.value=''" class="inputbox">
</div></div>
<div class="box-50"><div class="box-paddingS">
<input type="text" name="subject" value="How can we help you?" onblur="if(this.value=='') this.value='How can we help you?'" onfocus="if(this.value =='How can we help you?' ) this.value=''" class="inputbox">
</div></div>	
<div class="clear"></div>
</div>	

<div class="box-100"><input type="text" name="Message" value="Comments / Questions" onblur="if(this.value=='') this.value='Comments / Questions'" onfocus="if(this.value =='Comments / Questions' ) this.value=''" class="textarea"></div>		 
<div class="box-100"><input name="Submit" type="submit" class="btn-submit" value="Submit"></div>		 
 <div class="clear"> </div> 
        </div>
     </form>	
</div>	
	
</div></div></div>

<div class="box-50"><div class="box-padding"><div class="box-paddingL">
	

</div></div></div>
<div class="clear"></div>
</div>
	  

	</div></div>
</section>	
	
<section id="blog"><div class="wrapper">
<div class="wrap center">
	<h5 class="subtitle">Our Blog</h5>
	<h3 class="section-title blue">Latest Insights & Updates</h3>
</div>

	<div class="clearH"></div>
<div class="row">
<div class="box-33"><div class="box-padding">
<div class="blog-post-info">
<div class="blog-post-img"><img src="{% static 'website/images/blogpost-01.jpg' %}" class="img-responsive" alt=""></div>	
<div class="blog-post-text">
 <h4 class="post-title"><a href="">Beacon Hill Project update</a></h4>
<p>With our Beacon Hill and Drummoyne projects coming to an end, we find ourselves in Bondi again demolishing and rebuilding</p>
	<a href="" class="blog-more">Read More</a>
</div></div>
</div></div>
<div class="box-33"><div class="box-padding">
<div class="blog-post-info">
<div class="blog-post-img"><img src="{% static 'website/images/blogpost-02.jpg' %}" class="img-responsive" alt=""></div>	
<div class="blog-post-text">
 <h4 class="post-title"><a href="">Latest industry news</a></h4>
<p>Find out what’s happening in the building world: FieldLens provides independent, informative advice on where to look for timely</p>
	<a href="" class="blog-more">Read More</a>
</div></div>
</div></div>
<div class="box-33"><div class="box-padding">
<div class="blog-post-info">
<div class="blog-post-img"><img src="{% static 'website/images/blogpost-03.jpg' %}" class="img-responsive" alt=""></div>	
<div class="blog-post-text">
 <h4 class="post-title"><a href="">New homes and renovations</a></h4>
<p>We are back on board and ready for an exciting 2020. We love building beautiful new homes and renovating in</p>
	<a href="" class="blog-more">Read More</a>
</div></div>
</div></div>	
<div class="clear"></div>
</div>
	</div></section>

{% endblock %}