{% for page in pages %}

<li class="mobile-page-item">

    {% if page.children.all %}

        <a
            href="javascript:void(0);"
            class="mobile-dropdown-toggle"
        >

            {{ page.title }}

            <span class="mobile-dropdown-arrow">
                ▼
            </span>

        </a>


        <ul class="mobile-dropdown-menu">

            {% include "website/mobile_menu_items.html" with pages=page.children.all %}

        </ul>

    {% else %}

        <a href="/{{ page.get_url_path }}">

            {{ page.title }}

        </a>

    {% endif %}

</li>

{% endfor %}